{% extends 'index.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}


<h1>Buscar servicios de {{controller_name}} en: </h1>


{{ include('servicio/_map.html.twig') }}

{% endblock %}
