{% extends 'index.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <div id="zona">
       
    </div>
    <div id="direccion">
       
    </div>

{% endblock %}

{% block javascripts %}<script src='{{ asset('build/js/location.js') }}'></script>{% endblock %}
