<ul class="bg-white nav nav-pills flex-column">
    {% for servicio in servicios %}   
        <li class="nav-item">
            <a class="nav-link " href="{{path('servicio_index', {'nombre':servicio.nombre} )}}">{{ servicio.nombre }}</a>
        </li>
    {% endfor %}
</ul>  